<h2>Game Setup</h2>
<form [formGroup]="gameSetupForm" (ngSubmit)="startGame()">
  <!-- Number of Players -->
  <mat-form-field appearance="fill">
    <mat-label>Number of Players</mat-label>
    <mat-select formControlName="numberOfPlayers">
      <mat-option *ngFor="let num of [1, 2, 3]" [value]="num">
        {{ num }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="gameSetupForm.get('numberOfPlayers')?.hasError('required')">
      Number of players is required
    </mat-error>
    <mat-error *ngIf="gameSetupForm.get('numberOfPlayers')?.hasError('min')">
      Minimum number of players is 1
    </mat-error>
    <mat-error *ngIf="gameSetupForm.get('numberOfPlayers')?.hasError('max')">
      Maximum number of players is 3
    </mat-error>
  </mat-form-field>

  <!-- Select Players -->
  <div *ngIf="gameSetupForm.get('numberOfPlayers')?.value > 1">
    <mat-form-field appearance="fill">
      <mat-label>Select Players</mat-label>
      <mat-select formControlName="selectedPlayers" multiple>
        <mat-option *ngFor="let user of availableUsers" [value]="user.id">
          {{ user.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="gameSetupForm.get('selectedPlayers')?.hasError('required')">
        Please select players
      </mat-error>
      <mat-error *ngIf="gameSetupForm.get('selectedPlayers')?.hasError('minlength')">
        Select {{ gameSetupForm.get('numberOfPlayers')?.value }} players
      </mat-error>
      <mat-error *ngIf="gameSetupForm.get('selectedPlayers')?.hasError('maxlength')">
        Select only {{ gameSetupForm.get('numberOfPlayers')?.value }} players
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Start Game Button -->
  <button mat-raised-button color="primary" type="submit">Start Game</button>
</form>
