<div *ngIf="numberOfPlayers === 1">
  <p><strong>Selected Player:</strong></p>
  <p>{{ currentUserName }}</p>
</div>

<div *ngIf="numberOfPlayers > 1">
  <mat-form-field appearance="fill">
    <mat-label>Select Players</mat-label>
    <mat-select [formControl]="selectedPlayersControl" multiple>
      <mat-option *ngFor="let user of users" [value]="user.id">
        {{ user.email }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="selectedPlayersControl.hasError('required')">
      Please select players
    </mat-error>
    <mat-error *ngIf="selectedPlayersControl.hasError('minlength') || selectedPlayersControl.hasError('maxlength')">
      Please select exactly {{ numberOfPlayers }} players
    </mat-error>
  </mat-form-field>
</div>
